bosdyn-api==4.0.0
bosdyn-client==4.0.0
bosdyn-core==4.0.0
certifi==2023.11.17
charset-normalizer==3.3.2
deprecated==1.2.14
grpcio==1.59.3
idna==3.4
numpy==1.26.2
protobuf==4.25.1
pyjwt==2.8.0
pynmea2==1.19.0
requests==2.31.0
urllib3==2.1.0
wrapt==1.16.0
