bosdyn-api==3.3.0
    # via
    #   bosdyn-client
    #   bosdyn-core
bosdyn-client==3.3.0
    # via -r requirements.txt
bosdyn-core==3.3.0
    # via bosdyn-client
certifi==2024.2.2
    # via requests
charset-normalizer==3.3.2
    # via requests
deprecated==1.2.10
    # via
    #   bosdyn-client
    #   bosdyn-core
grpcio==1.60.1
    # via bosdyn-client
idna==3.6
    # via requests
numpy==1.26.4
    # via
    #   -r requirements.txt
    #   bosdyn-client
    #   opencv-python-headless
opencv-python-headless==4.9.0.80
    # via -r requirements.txt
protobuf==4.25.3
    # via bosdyn-api
pyjwt==2.0.1
    # via bosdyn-client
requests==2.31.0
    # via bosdyn-client
urllib3==2.2.1
    # via requests
wrapt==1.16.0
    # via deprecated
