bosdyn-api==2.1.0
bosdyn-client==2.1.0
bosdyn-core==2.1.0
certifi==2020.6.20
chardet==3.0.4
construct==2.9.33
grpcio==1.33.2
idna==2.7
numpy==1.19.3
pip==19.3.1
protobuf==3.13.0
pybase64==1.0.2
pyftdi==0.13.4
PyJWT==1.7.1
pylibftdi==0.19.0
pyserial==3.4
python-rapidjson==0.9.1
pyusb==1.1.0
requests==2.20.1
sbp==3.4.4
setuptools==42.0.2
six==1.15.0
urllib3==1.24.3
wheel==0.33.6
