bosdyn-api==2.1.0
bosdyn-client==2.1.0
bosdyn-core==2.1.0
certifi==2020.6.20
chardet==3.0.4
grpcio==1.33.2
idna==2.10
numpy==1.19.3
pip==19.3.1
protobuf==3.13.0
PyJWT==1.7.1
requests==2.20.1
setuptools==42.0.2
six==1.15.0
urllib3==1.25.10
wheel==0.33.6
