astor==0.8.1
astunparse==1.6.3
bleach==1.5.0
bosdyn-api==3.1.0
bosdyn-client==3.1.0
bosdyn-core==3.1.0
bosdyn-mission==3.1.0
cached-property==1.5.2
Deprecated==1.2.11
flatbuffers==1.12
google-pasta==0.2.0
html5lib==0.9999999
keras-resnet==0.2.0
keras-retinanet==1.0.0
opencv-python==4.5.5.62
opt-einsum==3.3.0
Pillow==8.1.0
progressbar2==3.53.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyJWT==2.0.1
python-utils==2.5.6
PyYAML==5.4.1
scipy==1.5.4
termcolor==1.1.0

#These wheels are already installed in base nvidia image

#absl-py==1.0.0
#cachetools==4.2.4
#charset-normalizer==2.0.12
#certifi==2021.10.8
#Cython==0.29.28
#google-auth==2.6.0
#google-auth-oauthlib==0.4.6
#grpcio==1.44.0
#h5py==3.1.0
#idna==3.3
#importlib-metadata==4.8.3
#Keras==2.8.0
#Keras-Applications==1.0.8
#Keras-Preprocessing==1.1.2
#Markdown==3.3.6
#mock==3.0.5
#numpy==1.18.5
#oauthlib==3.2.0
#protobuf==3.19.4
#requests==2.27.1
#requests-oauthlib==1.3.1
#rsa==4.8
#six==1.16.0
#urllib3==1.26.8
#typing-extensions==4.1.1
#Werkzeug==2.0.3
#wrapt==1.13.3
#zipp==3.6.0
