blinker==1.8.2
    # via flask
bosdyn-orbit==4.0.2
    # via -r requirements.txt
certifi==2024.7.4
    # via requests
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via flask
deprecated==1.2.14
    # via bosdyn-orbit
flask==3.0.3
    # via -r requirements.txt
idna==3.7
    # via requests
itsdangerous==2.2.0
    # via flask
jinja2==3.1.4
    # via flask
markupsafe==2.1.5
    # via
    #   jinja2
    #   werkzeug
python-dotenv==1.0.1
    # via -r requirements.txt
requests==2.32.3
    # via
    #   -r requirements.txt
    #   bosdyn-orbit
urllib3==2.2.2
    # via requests
werkzeug==3.0.3
    # via flask
wrapt==1.16.0
    # via deprecated
