bosdyn-api==3.2.0
bosdyn-client==3.2.0
bosdyn-core==3.2.0
Deprecated==1.2.10
Pillow==6.1.0
PyJWT==2.0.1
scipy==1.4.1

#These wheels are already installed in base nvidia image
#certifi==2021.10.8
#charset-normalizer==2.0.12
#grpcio==1.44.0
#idna==3.3
#numpy==1.19.5
#protobuf==3.19.4
#requests==2.27.1
#six==1.16.0
#urllib3==1.26.8
#wrapt==1.13.3

#This wheel is installed with apt-get instead
#opencv-python==4.3.0.38
