-f ../../../prebuilt

bosdyn-client>=3.0
opencv-python~=4.5.4
Pillow==8.4.0
scipy~=1.5.4
# The following line is commented out because it can change depending on setup
# You may choose to install Tensorflow CPU if running from a machine without a GPU
# tensorflow-gpu~=2.0.4
