-f ../../../prebuilt
bosdyn-client >= 3.0

opencv-python
Pillow
scipy
# The following line is commented out because it can change depending on setup
# You may choose to install Tensorflow CPU if running from a machine without a GPU
# tensorflow-gpu~=2.0.4
