# Requirements for building the package.
# See also the runtime requirements in the python-explicit directory.
grpcio-tools==1.46.3
pathlib2==2.3.0; python_version < '3.5'

# The generated protobuf files in the bosdyn-api wheel only work with
# protobuf >= 3.6.1, because of an upgrade of protoc in grpcio-tools.
protobuf>=3.6.1
