# These versions allow interoperability with protobufs before C++11 features were required.
# It's a little earlier than strictly necessary.
# Our generated tools also assume a protobuf >= 3.3
protobuf>=3.3,<3.6

# The version makes sure that protobufs are compiled without the serialized_options which breaks if older protobuf libraries are used
grpcio-tools==1.7.3

# Need this version for some interceptor features.
grpcio==1.19.0

pathlib2==2.3.0; python_version < '3.4'
