# Requirements for building the package.
# See also the runtime requirements in the python-explicit directory.
grpcio-tools==1.19.0
pathlib2==2.3.0; python_version < '3.5'

# The generated protobuf files in the bosdyn-api wheel only work with
# protobuf >= 3.3
protobuf>=3.3
