bosdyn-api==2.3.0
bosdyn-client==2.3.0
bosdyn-core==2.3.0
certifi==2020.12.5
chardet==3.0.4
construct==2.9.33
Deprecated==1.2.10
grpcio==1.19.0
idna==2.7
numpy==1.19.5
Pillow==6.1.0
protobuf==3.7.1
pybase64==1.1.1
pyftdi==0.13.4
PyJWT==2.0.1
pylibftdi==0.19.0
pyserial==3.5
python-rapidjson==0.9.1
pyusb==1.1.1
requests==2.20.1
sbp==3.4.5
six==1.12.0
urllib3==1.24.3
wrapt==1.12.1
