bosdyn-api==3.1.0
bosdyn-client==3.1.0
bosdyn-core==3.1.0
construct==2.10.67
Deprecated==1.2.13
grpcio==1.43.0
numpy==1.19.4
Pillow==6.1.0
protobuf==3.19.1
pyftdi==0.13.4
PyJWT==2.3.0
pylibftdi==0.20.0
pyserial==3.5
pyusb==1.2.1
sbp==4.1.1
six==1.16.0
wrapt==1.13.3
