bosdyn-api==3.1.0
bosdyn-client==3.1.0
bosdyn-core==3.1.0
certifi==2020.12.5
charset-normalizer==2.0.7
Deprecated==1.2.11
grpcio==1.42.0
idna==2.10
numpy==1.19.4
protobuf==3.14.0
PyJWT==2.0.1
requests==2.26.0
six==1.15.0
urllib3==1.26.3
wrapt==1.12.1
pyserial==3.5
opencv-python==4.5.1.48
typed-ast==1.4.2
matplotlib==3.3.4
