bosdyn-api==4.1.0
    # via
    #   -r requirements.txt
    #   bosdyn-client
    #   bosdyn-core
    #   bosdyn-mission
bosdyn-client==4.1.0
    # via
    #   -r requirements.txt
    #   bosdyn-mission
bosdyn-core==4.1.0
    # via bosdyn-client
bosdyn-mission==4.1.0
    # via -r requirements.txt
certifi==2024.8.30
    # via requests
charset-normalizer==3.3.2
    # via requests
deprecated==1.2.14
    # via
    #   bosdyn-client
    #   bosdyn-core
grpcio==1.66.1
    # via bosdyn-client
idna==3.10
    # via requests
numpy==2.1.1
    # via bosdyn-client
protobuf==5.28.2
    # via bosdyn-api
pyjwt==2.9.0
    # via bosdyn-client
pynmea2==1.19.0
    # via bosdyn-client
requests==2.32.3
    # via bosdyn-client
urllib3==2.2.3
    # via requests
wrapt==1.16.0
    # via deprecated
