.rst-content .section ul,
.rst-content .toctree-wrapper ul,
.wy-plain-list-disc,
article ul {
    padding-inline-start: 20px;
    margin-bottom: revert;
}

.section {
    padding-top: revert;
}

.section ol {
    padding-inline-start: 20px;
}

.video-background {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.tutorial-video {

    max-width: 100%;
    max-height: 65vh; /* 65% of viewport height */
    overflow: hidden;
}

.half-width-image {
    width: 100%;
}

p.navigation-numbers {
    font-size: 20px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.nav-button {
    min-width: 100px;
    font-size: 15px;
}

a.help-button {
    text-transform: none;
    margin-top: -2px;
    padding: 0px 0px;
}

ul.help-button {
    margin-top: -5px;
}


td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}


th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.section img {
    max-width: 100%;
    width: revert;
}

.nomarker {
    list-style: none;
}

.rst-content .section ul li.nomarker, .rst-content .toctree-wrapper ul li.nomarker, .wy-plain-list-disc li.nomarker, article ul li.nomarker {
    list-style: none;
}



.indent {
    padding-left: 30px
}

@media (min-width:60rem) {
	h3 {
		color: revert;
		font-size: 1.75rem;
		font-weight: 300;
		margin-bottom: .3em
	}
}

@media (min-width:75rem) {
	h3 {
		font-size: 1.875rem
	}
}

label {
    display: revert
}

pre[class*="language-"].line-numbers.line-numbers code.wrap {
    white-space: pre-wrap
}

code.wrap {
    white-space: pre-wrap
}

aside {
    background-color: #CEECFF;
    border-style: solid;
    border-width: 1px;
}

aside > p {
    margin: .5rem;
}


*, ::after, ::before {
	 box-sizing: border-box;
}
 .collapse {
	 display: block;
	 max-height: 0px;
	 overflow: hidden;
	 transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
 .collapse.show {
	 max-height: 99em;
	 transition: max-height 0.5s ease-in-out;
}

h1 {
    text-transform: revert;
    font-size: 2.5rem;
}

.noscale {
    width: revert;
}

