bosdyn-api==3.3.0
bosdyn-client==3.3.0
bosdyn-core==3.3.0
certifi==2023.5.7
charset-normalizer==3.1.0
Deprecated==1.2.14
grpcio==1.54.2
idna==3.4
numpy==1.23.5
opencv-python-headless==4.7.0.72
pip==23.0.1
protobuf==4.23.3
PyJWT==2.7.0
requests==2.31.0
setuptools==65.5.1
urllib3==2.0.3
wheel==0.40.0
wrapt==1.15.0
