bosdyn-api==5.0.1
    # via
    #   bosdyn-client
    #   bosdyn-core
bosdyn-client==5.0.1
    # via -r requirements.txt
bosdyn-core==5.0.1
    # via bosdyn-client
certifi==2025.8.3
    # via requests
charset-normalizer==3.4.3
    # via requests
deprecated==1.2.18
    # via
    #   bosdyn-client
    #   bosdyn-core
grpcio==1.70.0
    # via bosdyn-client
idna==3.10
    # via requests
numpy==1.24.4
    # via bosdyn-client
protobuf==5.29.5
    # via bosdyn-api
pyjwt==2.9.0
    # via bosdyn-client
pynmea2==1.19.0
    # via bosdyn-client
requests==2.32.4
    # via bosdyn-client
urllib3==2.2.3
    # via requests
wrapt==1.17.3
    # via deprecated
