bosdyn-api==2.3.0
bosdyn-client==2.3.0
bosdyn-core==2.3.0
certifi==2020.12.5
chardet==3.0.4
Deprecated==1.2.11
grpcio==1.35.0
idna==2.10
numpy==1.19.5
Pillow==8.2.0
protobuf==3.14.0
PyJWT==2.0.1
requests==2.24.0
six==1.15.0
urllib3==1.25.11
wrapt==1.12.1
