bosdyn-api==3.1.0
bosdyn-client==3.1.0
bosdyn-core==3.1.0
Deprecated==1.2.11
Pillow==6.1.0
PyJWT==2.0.1

#These wheels are already installed in base nvidia image
#certifi==2021.10.8
#charset-normalizer==2.0.12
#grpcio==1.34.1
#idna==3.3
#numpy==1.19.5
#protobuf==3.19.4
#requests==2.26.0
#six==1.16.0
#urllib3==1.26.6
#wrapt==1.13.3
