[Unit]
Description=Start remote mission service for ricoh theta
After=-.mount
After=network-online.target

[Service]
User=spot
Environment=PYTHONPATH=/home/spot/
ExecStart=/home/spot/ricoh_theta/run.sh
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target

